@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto:wght@300;400;700&display=swap');

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2323232e' stroke-width='25' stroke-opacity='0.77'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: #F5F2F3;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  font-size: 24px;
}

h1, h2 {
  color: #43669E;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #B57C1E;
}

a:hover {
  color: #F5F2F3;
}

.container {
  width: 700px;
  margin: 24px auto;
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.card {
  background-color: #F5F2F3;
  color: #23232E;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px #F5F2F322;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid #B57C1E22;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style-type: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 16px;
}

.list-inline i {
  font-size: 50px;
  -webkit-text-stroke: 1px #F5F2F3;
  -webkit-text-fill-color: #B57C1E;
}

.list-inline i:hover {
  -webkit-text-stroke: 1px #B57C1E;
  -webkit-text-fill-color: #F5F2F3;
}

.btn-orange {
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #B57C1E;
  color: #F5F2F3;
  border: 1px solid transparent;
}

.btn-orange:hover {
  background-color: #F5F2F3;
  color: #B57C1E;
  border: 1px solid #B57C1E;
}








